application/.htaccess
application/cache/
application/core/
application/helpers/
application/hooks/
application/index.html
application/language/
application/libraries/
application/logs/
application/third_party/
assets/css/*bootstrap*
assets/js/*bootstrap*
assets/js/*jquery*
system/
user_guide/
index.php
